<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img id="header_image" src="{% if site.github.url %}{{ site.github.url }}{% else %}{{ site.baseurl }}{% endif %}/img/cvflat.png"> {{ site.title }}</a>
  <div class="right">
    <a href="http://utdallas.edu/">The University of Texas at Dallas</a>
  </div>
  <div id="navbar">
       <ol class="breadcrumbs">
	   {% for p in page.ancestors %}
	   <li><a href="{{ site.baseurl}}{{ p.url }}">{{ p.title }}</a></li>
	   {% endfor %}
	   <li class="active">{{ page.title }}</li>
       </ol>
  </div>
</header>
